/**
  DECLARE VARIABLES
*/

$colorWo: rgb(95, 137, 215);
$colorStudiere: rgb(161, 212, 128);;
$colorIch: rgb(226, 193, 94);

body {
  height: 100%;
  background-color: #ffffff;
  background-image: url('http://www.thesleeperinside.com:8080/wostudiereich/images/hpbackround.jpg');  
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@import "nav";