/**
  DECLARE VARIABLES
*/

/* TODO INHERIT FROM CLASSES */

$colorWo: rgb(95, 137, 215);
$colorStudiere: rgb(161, 212, 128);;
$colorIch: rgb(226, 193, 94);
$greyishBackground: #F6F6F6;
$blackishBackground: #241F2B;
$greyishBackToTop: #ada3a3;
$transparent: rgba(255,255,255,0);
$section-title-color: #4d4d4d;
html, body {
  height:100%;
  padding:0;
  margin:0;
}
body {
  background-image: url('http://www.thesleeperinside.com:8080/wostudiereich/images/hpbackround.jpg');
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.color {
  &-wo {
    color: $colorWo;
  }
  &-studiere {
    color: $colorStudiere;
  }
  &-ich {
    color: $colorIch;
  }
}

.white {
  color: white;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.service-container {
  background-color: white;
}

.back-to-top {
  background:$blackishBackground;
  position: fixed;
  bottom:20px;
  right:20px;
  padding:1em;
  color:white;
  &:hover {
    color: $greyishBackToTop;
  }
}

[class$=-container] {
  padding-top:50px;
  padding-bottom: 50px;
}

.section-title {
  font-size: 24px;
  font-weight: 300;
  color: $section-title-color;
}

/* hide special elements due static site */

@import "general/nav";
@import "homepage";
@import "search_results";
@import "general/footer";
