.form-group {
	i {
		line-height: inherit;
	}
}

.teaser {
	&-add-height {
	height: 150px;
	}
	&-container {
		padding-bottom: 25px;

		label {
			color:white;
		}
		form {
			.row {
				margin:0 auto;
				width:80%;
			}
		}
	}
	h1 {
		font-size: 8em;
		margin-bottom: 5px;
		text-shadow: 1px 1px black;
	}

	h2 {
		margin-top:5px;
	}

	margin-bottom: 50px;
}
