

nav {
	&.navbar {
		border:none;
	}
	&.navbar-default {
		background-color: $transparent;
		border-color: initial;
		color:white;
		ul {
				&.navbar-nav > li > a {
				color: white;
				text-shadow: 1px 1px black;
			}
		}
		&.greyish {
			// background-color: $blackishBackground;
			animation-name: toGreyish;
			animation-duration: 1s;
			animation-fill-mode: forwards;
		}
		&.transparent {
			animation-name: toTransparent;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			&-initial {
				background-color: $transparent;
			}
		}

		.navbar-brand {
			font-size:32px;
		}

		span:not(:first-child) {
			margin-left: -10px;
		}
	}


// animation test
@keyframes toGreyish {
	100% {
			background-color: $blackishBackground;

	}
}
@keyframes toTransparent {
	0% {
		background-color: $blackishBackground;
	}
	100% {
		background-color: $transparent;
	}
}

}
.nav-height {
	height: 50px;
}
